<html>
  <title>Mastery Match</title>
  <head>
    <!--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body style="background-color:#292929">
    <h1 style="color:#2363e8" class='text-center title'>Mastery Match</h1>
    <div class='inputs col-md-10  col-md-offset-4' >
      <p class='plain-text'>Enter your summoner name:</p>
      <div class="col-xs-2">
        <input type="text" class="form-control" id="summoner-name-input" />
      </div>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="region_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NA<!--<span class="caret"></span>-->
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">BR</a></li>
          <li><a href="#">EUNE</a></li>
          <li><a href="#">EUW</a></li>
          <li><a href="#">JP</a></li>
          <li><a href="#">KR</a></li>
          <li><a href="#">LAN</a></li>
          <li><a href="#">LAS</a></li>
          <li><a href="#">NA</a></li>
          <li><a href="#">OCE</a></li>
          <li><a href="#">RU</a></li>
          <li><a href="#">TR</a></li>
        </ul>
      </div>
      <button class="btn btn-primary" onclick="get_suggestions()">Find Similar Summoners</button>
    </div>
    <p class="hidden error-text plain-text">Summoner cannot be found for the specified region</p>
    <table class="table table-bordered table-hover hidden">
      <thead>
        <tr id="header">
          <td class="sum-list-elem sum-name">Name</td>
          <td class="sum-list-elem sum-rank">League</td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
      </thead>
      <tbody>
        <tr id="sum0">
          <td class="sum-list-elem"><a class="sum-name" href="#">Name</a></td>
          <td class="sum-list-elem"><img class="sum-rank" src="static/images/unranked_tier.png" alt="Unranked"/></td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
        <tr id="sum1">
          <td class="sum-list-elem"><a class="sum-name" href="#">Name</a></td>
          <td class="sum-list-elem"><img class="sum-rank" src="static/images/unranked_tier.png" alt="Unranked"/></td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
        <tr id="sum2">
          <td class="sum-list-elem"><a class="sum-name" href="#">Name</a></td>
          <td class="sum-list-elem"><img class="sum-rank" src="static/images/unranked_tier.png" alt="Unranked"/></td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
        <tr id="sum3">
          <td class="sum-list-elem"><a class="sum-name" href="#">Name</a></td>
          <td class="sum-list-elem"><img class="sum-rank" src="static/images/unranked_tier.png" alt="Unranked"/></td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
        <tr id="sum4">
          <td class="sum-list-elem"><a class="sum-name" href="#">Name</a></td>
          <td class="sum-list-elem"><img class="sum-rank" src="static/images/unranked_tier.png" alt="Unranked"/></td>
          <td class="sum-list-elem sum-region">Region</td>
        </tr>
      </tbody>
    </table>
    <p class="col-md-6 col-md-offset-3 plain-text" style="text-align:center; font-size:10px; position: absolute; bottom: 0px">
    Mastery Match isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </p>
    <script >

    $(".dropdown-menu li a").click(function(){
      var selText = $(this).text();
      $(this).parents('.btn-group').find('.dropdown-toggle').html(selText);
    });

    function get_suggestions() {
      if ($('#summoner-name-input').val() == ""){
        //$('.emptySum-text').show();
        //TODO: put in the empty text stuff
        console.log("enter your summoner name first!")
      }else{
        $.ajax({
            url: '/suggestions',
            type: 'POST',
            dataType: 'text',
            data: {summoner_name: $('#summoner-name-input').val().replace(/\s/g,''),
                   region: $('#region_dropdown').text()}
          })
          .done(function(json) {
            json_obj = JSON.parse(json)
            error = json_obj.error;

            if (error == true) {
              $('.table').addClass('hidden');
              $('.error-text').removeClass('hidden');
            } else {
              matches = json_obj.matches;

              //TODO: jquery goes here to do things
              //TODO: angular might work as well, but likely more difficult

              //add a visible class tag to the top 5 summoners (if not already there)
              //fill in info (have the html already exist, but just be hidden)
              $('.error-text').addClass('hidden');
              $('.table').removeClass('hidden');

              for (var i=0;i<5;i++) {
                $('#sum'+i.toString()+' .sum-name').text(matches[i][0][1]);
                //$('#sum'+i.toString()+' .sum-rank').text(matches[i][0][2]);
                $('#sum'+i.toString()+' .sum-rank').attr("alt", matches[i][0][2]);
                $('#sum'+i.toString()+' .sum-rank').attr("src", "static/images/"+matches[i][0][2].toLowerCase()+"_tier.png");
                $('#sum'+i.toString()+' .sum-region').text(matches[i][0][3].toUpperCase());
                $('#sum'+i.toString()+' .sum-name').attr("href",'http://www.lolking.net/summoner/na/'+matches[i][0][0].toString());
              }
            }
          })
        }
      }

    </script>
  </body>
</html>